body {
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #233b4d; /* Set background color to dark blue */
}

.card-container {
    background-color: #233b4d; /* Set the card background color to match the body */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    color: #ffffff; /* White text color */
    overflow-wrap: break-word;
    white-space: normal;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    overflow-wrap: break-word;
    font-variant: small-caps; /* Apply small caps to the title */
    letter-spacing: 1px; /* Add spacing between letters */
    color: #9fb3c8; /* Light blue color for the title */
}

#card-content {
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    overflow-wrap: break-word;
}

.label {
    font-weight: bold;
    display: block;
    margin-top: 25px; /* Space above each label */
    text-align: center;
    color: #9fb3c8; /* Light blue color for labels */
}
